# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env.env
.env
books_merge.py
eventdetail_fix.py
events_fix.py
free_key_fix.py
src/assets/backup/
add_marquee.py
add_pkpd_meta.py
add_pkpd_service.py
remove_library_nav.py
rename_pkpd_key.py
update_hero_copy.py
add_contact_form_keys.py
update_contact_form.py
